{# Base template for all other templates 

   Deriving from bootstap/base.html gives us a basic page scaffoling.
#}
{%- extends "bootstrap/base.html" %}

{# Set a default page title #}
{% block title %}Heater Control Interface{% endblock %}

{# Enable fixes for legacy browsers #}
{% import "bootstrap/fixes.html" as fixes %}

{# Apply fixes inside head block using super() #}
{% block head %}
{{super()}}

    {#- Docs: http://pythonhosted.org/Flask-Bootstrap/macros.html#fixes
    We already have the required static files. #}
    {{fixes.ie8()}}
{%- endblock %}

{# Add local CSS files #}
{% block styles -%}
    {{super()}}  {# do not forget to call super or Bootstrap's own stylesheets
                    will disappear! #}
    <link href="{{bootstrap_find_resource('css/bootstrap-theme.css', cdn='bootstrap')}}" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
          href="{{url_for('static', filename='heatercontrol.css')}}">
{% endblock %}

{# Add the navbar #}
{% block navbar %}
{{nav.frontend_top.render()}}
{% endblock %}
